body {
    margin: 0;
    padding: 0;
    background: #FCFCFC;
    font-family: sans-serif;
    color: #444;
}
header {
    height: 40px;
    width: 100%;
    font-size: 18px;
    border: 1px solid red;
}

/* Home Page Components */
.mainWrapper {
    width: 960px;
    margin: 40px auto;
}

.loginForm {
    display: none;
    background: white;
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    position: relative;
    top: -200px;
    margin: 0 auto;
    padding: 0 30px;
    border: 2px solid green;
    font-size: 24px;
}

.loginForm input {
    margin: 0 auto;
    height: 25px;
    width: 430px;
    font-size: 14px;
    border: 1px solid #bbb;
}

.loginForm label {
    display: block;
    margin: 20px 0 0 0;
    width: 420px;
    font-size: 16px;
    color: #777;
}

.loginButtons {
    margin: 8px 50px 0 0;
    float: right;
}

.loginButtons:after {
    clear: both;
}

.loginButton, .forgotPWbutton {
    background: none;
    border: none;
    font-size: 18px;
    outline: none;
}

.newUserForm {
    display: none;
}

.registrationButton {
    background: green;
    width: 440px;
    height: 40px;
    margin: 10px auto;
    color: white;
    font-size: 22px;
    border: none;
}

.forgotPWbutton {
    font-size: 12px;
    text-decoration: underline;
}

.loginButton:hover {
    color: #bbb;
}

.warning {
    color: red;
    font-size: 16px;
    margin-top: 15px;
}

.miniWarning {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 3px;
}