body {
    margin: 0;
    padding: 0;
    background: #FCFCFC;
    font-family: sans-serif;
    color: #444;
}
header {
    height: 40px;
    width: 100%;
    font-size: 18px;
    border: 1px solid red;
}

/* Home Page Components */
.mainWrapper {
    width: 960px;
    margin: 40px auto;
}

.loginForm {
    display: none;
    background: white;
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 30px;
    border: 4px solid #f66;
    font-size: 24px;
}

.loginForm input:not([type='submit']) {
    margin: 0 auto;
    height: 25px;
    width: 430px;
    font-size: 14px;
    border: 1px solid #bbb;
}

#createAccount, .registrationButton {
    width: 435px;
    height: 35px;
    background: #f66;
    color: white; 
    font-size: 22px;
    border: none;
}

#login_cancel, #loginCancalButton {
    width: 435px;
    height: 35px;
    background: none;
    color: #333;
}

.loginForm input[type='submit'] {
    background: #f66;
    height: 35px;
    color: white;
    font-size: 22px;
    border: 2px solid #f66;
    margin-bottom: 10px;
}

.secondaryButton {
    display: block;
    background: none;
    height: 45px;
    color: #333;
    border: 2px solid #333;
}

.loginForm label {
    display: block;
    margin: 20px 0 0 0;
    width: 420px;
    font-size: 14px;
    color: #777;
}

.loginButtons {
    margin: 8px 50px 0 0;
    float: right;
}

.loginButtons:after {
    clear: both;
}

.loginButton, .forgotPWbutton {
    background: none;
    border: none;
    font-size: 18px;
    outline: none;
}

.newUserForm {
    display: none;
}
/*
.registrationButton {
    background: #f66;
    width: 440px;
    height: 40px;
    margin: 10px auto;
    color: white;
    font-size: 22px;
    border: none;
}
*/
.forgotPWbutton {
    font-size: 12px;
    text-decoration: underline;
}

.loginButton:hover {
    color: #bbb;
}

.warning {
    color: red;
    font-size: 16px;
    margin-top: 15px;
}

.miniWarning {
    display: inline-block;
    float: right;
    color: red;
    height: 8px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.miniWarning:after {
    clear: both;
}